langchain>=0.3.0
langgraph>=0.2.0
langchain-groq
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-core
sentence-transformers
faiss-cpu
tavily-python
fastapi
uvicorn
streamlit
sqlitedict
python-dotenv
pandas
matplotlib
plotly
